<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/319ebf30-3612-43ea-abf4-1477c1250f9b/resourceGroups/teamdemo/providers/Microsoft.ContainerRegistry/registries/WebApplication120230721025833</ResourceId>
    <ResourceName>WebApplication120230721025833</ResourceName>
    <ResourceGroup>teamdemo</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>webapplication120230721025833.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>7cf393c9-a0a3-4e7e-a397-33d528f1298e</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>